h2{
    font-size:35px;
    padding:20px;
    position:relative;
    left:500px;
    color:matte black;
    font-family:garamond;
  }
  P{
    font-size:15px;
    position:relative; 
    left:650px;
    width:500px;
    font-family:garamond;
    color:matte black;
  }
  body{
    background-image:url("");
    background-repeat:no-repeat;
    background-position:100px;
    height:200px;
    width:1500px;
  }
  form{
    padding:10px;
    position:relative;
    left:150px;
    width:500px;
    margin:auto;
    font-size:medium;
    color:matte black;
    font-family:garamond;
  }
  input[type = text],
  input[type = password],
  select,
    textarea
    {
      width: 70%;
      font-size: 25px;
      
    }
  button
  {
    font-size:25px;
    color:matte black;
    text-align:center;
    float:center;
    width:100px;
    height:40px;
    font-family:garamond;
    background-color:#CCDCFD;
    display:block;
    margin:auto;
    padding-bottom:5px;
    border:none;
  }
  input{
    font-size:50px;
    font-family:garamond;
    color:matte black;
    
  }
  img{
    margin-left: 700px;
  }
  div{
    margin-top:20px;
  }
  h4{
    float:right;
    position:relative; 
    margin-top:70px;
    padding-right:10px;
  }
  body{
    background-color: #f0f6fc;
  }
  .poi{
  
    border: solid;
    background-color: aliceblue;
    border-color: #141414;
    color: coral;
    padding: 10px;
    text-decoration: none;
  margin-left: 135px;
  
  
   }