.header{
    padding: 20px;
    text-align: left;
    background: lightcoral;
    color: white;
    font-size: 20px;
}
button{
    float: right;
    font-size: 20px;
    background-color: whitesmoke;
    color: black;
}
img,h1{
    padding-left: 45px;
}
h1{
    margin-left: 25px;
}